
body {
	background: url(../img/sfapp_bg.jpg) center 48px repeat-x #FEFEFE;
	color: #76716e;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 19px;
	margin-top: -9px;
}

a { color: #C9A706; }

fieldset { margin-bottom: 3em; }
fieldset p { margin: 1em 0; }
fieldset ul { padding-top: 2em; }

/* override bootstrap styles */

.form-actions, .well { background-color: #eeebe1; }

.btn {
	border: 3px solid #e9e8e3;
	padding: 4px 15px 4px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	    -ms-border-radius: 6px;
	     -o-border-radius: 6px;
	        border-radius: 6px;
}
.btn:hover {
	background-color: #ba5300;
}
.btn.active, .btn:active {
	background-color: #ba5300;
	background-color: #ba5300 \9;
}

.btn-sunlight {
	color: #fdfcfb;
	background-color: #ce6100;
	background-image: -moz-linear-gradient(top, #ce6100, #222222);
	background-image: -ms-linear-gradient(top, #ce6100, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ce6100), to(#222222));
	background-image: -webkit-linear-gradient(top, #ce6100, #222222);
	background-image: -o-linear-gradient(top, #ce6100, #222222);
	background-image: linear-gradient(top, #ce6100, #222222);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce6100', endColorstr='#222222', GradientType=0);
	border-color: #222222 #222222 #000000;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-sunlight:hover,
.btn-sunlight:active,
.btn-sunlight.active,
.btn-sunlight.disabled,
.btn-sunlight[disabled] {
	background-color: #ce6100;
}
.btn-sunlight:active,
.btn-sunlight.active {
	background-color: #080808 \9;
}

.messages ul { list-style: none; margin: 0; padding: 0; }

input,button,select,textarea {
	font-family: "Georgia", "Times New Roman", "Times", serif;
	font-style: oblique;
}

form input { border: 2px solid #e7e4dc; }
form ul { list-style: none; margin: 0; padding: 0; }

/* site-specific styles */

h1, h2, h3, h4 { font-weight: normal; color: #635f5c; max-width: 580px;}
h1 { font-family: Georgia, 'Times New Roman', Times, serif; font-size: 240%; line-height: 30px;}
h2 { margin-bottom: 30px; font-size: 260%; line-height: 35px; }
h3, .h2 { font-family: Georgia, "Times New Roman", Times, serif; margin-bottom: 25px; font-size: 210%; line-height: 29px; text-transform: capitalize; }
h4, .h3 { font-size: 170%; margin-bottom: 20px; line-height: 27px; text-transform: capitalize; font-family: Georgia, 'Times New Roman', Times, serif;}
h5, .h4 { font-weight: bold; margin-bottom: 20px; font-size: 140%; line-height: 22px; text-transform: capitalize;}
h6, .h5 { font-weight: bold; font-size: 125%; margin-bottom: 15px; text-transform: capitalize;}

h1 a, h1 a:active, h1 a:visited, h2 a, h2 a:active, h2 a:visited, h3 a, h3 a:active, h3 a:visited, h4 a, h4 a:active, h4 a:visited, h5 a, h5 a:active, h5 a:visited { color: #635f5c; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover { color: #b9a609; }

.sf-header {
	background: url(../img/sfapp_bg_header.jpg) center top repeat-x;
	background-color: #b7d2ef;
	margin-bottom: 60px;
}
.sf-header .container { padding: 1.2em 0 0.4em 0; }
.sf-header a.sf-logo {
	background: url(../img/sfapp_logo.png) top left no-repeat;
	display: block;
	float: left;
	height: 40px;
	margin-right: 30px;
	text-indent: -9999px;
	width: 150px;
}

.tip, time { font-family: Georgia, 'Times New Roman', Times, serif; font-style: oblique; color: #6c6967; display: block; line-height: 21px;}
.tip { margin-bottom: 20px;}

.subscribe-thanks { display: none; }
#sfapp-subscribe-form li { float: left; margin-right: 10px; }
#zipCode input { width: 95px; }
#email input { width: 140px; }

.sf-footer { background: url(../img/bg_footerBorder.png) center top no-repeat; margin-top: 70px; padding-top: 50px; margin-bottom: 50px; color: #9f9a97;}
.sf-footer h4 { color: #9f9a97; margin-bottom: 0.5em; }
.sf-footer .tip { color: #9f9a97;}

.sf-footer div.signup {
	border-right: 1px solid #e8e6de;
}

.sf-footer div.terms p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 95%;
	font-style: oblique;
	line-height: 18px;
	margin-top: 1em;
}