<!doctype html>
{% load staticfiles %}
<html>
	<head>

		<meta charset="utf-8">
		{% block og %}{% endblock %}

		<title>{% block title %}{% endblock %}</title>

		{% block head %}{% endblock %}

		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/sfapp.css" %}">
		{% block css %}{% endblock %}

		<script>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', '{% block ga %}{% endblock %}']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body class="{% block bodyclass %}{% endblock %}">

		<div class="sf-header">
			<div class="container">
				<div class="row">
					<div class="span2">
        				<a class="sf-logo" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
					</div>
					<div class="span10">
		        		<ul>
		        			<li><a href="http://sunlightfoundation.com/about/">About</a></li>
		        			<li><a href="http://sunlightfoundation.com/blog/">Blog</a></li>
		        			<li><a href="http://sunlightfoundation.com/projects/">Projects</a></li>
		        			<li><a href="http://sunlightfoundation.com/contact/">Contact</a></li>
		        		</ul>
					</div>
				</div>
        	</div>
		</div>

		<div class="container">
			{% block container %}

			{% endblock %}
		</div>

		<div class="sf-footer container">
			<div class="row">
				<div class="span6 signup">
					<h4>Like this Project and Want to Discover Others Like It?</h4>
		            <span class="tip">Join the Sunlight Foundation's open government community to learn more</span>
		            <form action="/subscribe/" method="post" id="sfapp-subscribe-form">
		            	{% csrf_token %}
		            	<ul>
		                	<li><input type="text" name="email" placeholder="your email address"></li>
		                	<li><input type="text" name="zipcode" placeholder="your zip code"></li>
		                	<li><button type="submit" class="btn btn-inverse"><i class="icon-envelope icon-white"></i> Sign Up</button></li>
		                </ul>
		            </form>
				</div>
				<div class="span5 terms">
					<p>Our <a href="http://sunlightfoundation.com/legal/privacy/">privacy policy</a> details how personally identifiable information that is collected on our web sites is handled. Read our <a href="http://sunlightfoundation.com/legal/terms/">terms of service</a>.</p>
		            <p>This work by <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, unless <a href="http://sunlightfoundation.com/colophon/">otherwise noted</a>, is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/us/">Creative Commons Attribution 3.0 United States License</a>.</p>
				</div>
			</div>
		</div>

		<script src="{% static "js/jquery-1.7.2.min.js" %}"></script>
		<script src="{% static "js/sfapp.js" %}"></script>
		{% block js %}{% endblock %}

	</body>
</html>